
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFunctionsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"

github "evgenyneu/UnderKeyboard"
github "realm/realm-cocoa"
github "evgenyneu/swift-badge"
github "pkluz/PKHUD"
github "ranesr/SwiftIcons"
github "rechsteiner/Parchment"
github "onevcat/Kingfisher"
github "ReSwift/ReSwift"
